.mdiv{
    min-height: 94vh;
    width: 100vw;
    background-color: rgb(236, 250, 255);
   font-family: system-ui;
}


.container{
    max-width: 40rem;
    
}

.text-danger{
    font-size: 14px;
}

label{
    margin-top: 8px;
}
.modal-dialog{
    width:40rem ;
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 2rem;
    margin-top: 5rem;
    background-color: rgb(255, 255, 255);
    background-color: white;
    /* border-radius: 10px; */
    border: 1px solid blue;
}
@media screen and (max-width:800px) {
    .modal-dialog{
        width:auto ;
        margin: auto;
        margin: 1rem;
        padding: 0.5rem;
        margin-top: 1rem;
    }
}
hr{
    margin: 0px;
}
button {
    margin: 1rem;
}

.btn {
    width: 100%; /* Full width by default for smaller screens */
    margin: 1rem  auto; /* Adjusted margin for smaller screens */
}

.modal-footer {
    margin-top:1rem ;
    display: flex;
    flex-direction: column; /* Stack buttons vertically for smaller screens */
    align-items: center;
}

@media (min-width: 768px) {
    .btn {
        width: 40%; /* Wider buttons for larger screens */
    }

    .modal-footer {
        flex-direction: row; /* Place buttons side by side for larger screens */
        justify-content: space-between;
    }
}

   /* ALERT */
 .alert {
    position: fixed;
    top: -100px; /* Initially hidden above the viewport */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050; /* Higher z-index to overlay other elements */
    animation: slideDown 0.5s ease-in-out forwards; /* Slide-down effect */
  }
  
  @keyframes slideDown {
    0% {
      top: -100px;
      opacity: 0;
    }
    100% {
      top: 20px; /* Adjust as needed */
      opacity: 1;
    }
  }
  .alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 0.25rem;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    width: auto;
  }