.container {
    max-width: 1200px;
  }

  .form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #e2e8f0;
    border-radius: 4px;
    margin-top: 4px;
  }
  .table-auto {
    width: 100%;
    border-collapse: collapse;
  }
 
  
  table{
    font-size: 12px;
  }
  .outerTable{
    overflow-x: scroll;
   
  }
  .mdiv::-webkit-scrollbar {
   
    display: none;
}
.mdiv{
  overflow: scroll;
}

.backBtn{
  position: absolute;
  right: 0;
 top: 5rem;
}
.text-danger{
  font-size: 12px;
}