<div class="feat bg-gray pt-5 pb-5">
    <div class="container">
      <div class="row">
       
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_one"><i class="bi bi-person-fill"></i></span>
            <h6>Admin</h6>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_two"><i class="fa fa-user"></i></span>
            <h6>Manager</h6>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="item"> <span class="icon feature_box_col_two"><i class="fa fa-users"></i></span>
              <h6>Developer</h6>
            </div>
          </div>
       
      </div>
    </div>
  </div>
