.mdiv{
    width: 100vw;
    overflow-x:hidden ;
    padding: 2rem;
	padding-top: 1rem;
}
@media screen and ( max-width:700px)  {
    .mdiv{
        padding: 10px;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    background: #d4eeff;
   
    padding: 5px 0;
}

h1, h2 {
    margin: 0 0 5px 0;
}

section {
    margin-bottom: 30px;
}

/* Progress Bar */


.progress-bar {
    background: #ddd;
    border-radius: 10px;
    height: 15px;
    width: 100%;
    overflow: hidden;
    margin: 10px 0;
}

.progress {
    background: #9df375;
    height: 100%;
    border-radius: 10px;
}
.progress2 {
    background: #2cbd49;
    height: 100%;
    border-radius: 10px;
}


.admin-panel {
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(64, 124, 235, 0.1);
}

.firstCol ,.secondCol, .thirdCol {
    padding: 1rem;
}

.inCol{
    padding: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    min-height: 300px;
    outline: 1px solid #ccc;
}
.pName{
    background-color: #cfffd8;
    padding: 1rem;
}
.addBtn{
    padding: 0px;
    padding-left:1rem ;
    padding-right:1rem ;
}
.bi-plus-circle-fill{
    font-size: 20px;
   
}

/* FOR PIE CHART */
.pie-chart {
	background:
		radial-gradient(
			circle closest-side,
			transparent 66%,
			white 0
		),
		conic-gradient(
			#4e79a7 0,
			#4e79a7 38%,
			#f28e2c 0,
			#f28e2c 61%,
			#e15759 0,
			#e15759 77%,
			#76b7b2 0,
			#76b7b2 87%,
			#59a14f 0,
			#59a14f 93%,
			#edc949 0,
			#edc949 100%
	);
	position: relative;
	padding: 0;
	min-height: 268px;
	margin: 0;
}
.pie-chart h2 {
	position: absolute;
	margin: 1rem;
}
.pie-chart cite {
	position: absolute;
	bottom: 0;
	font-size: 80%;
	padding: 1rem;
	color: gray;
}
.pie-chart figcaption {
	position: absolute;
	bottom: 1em;
	right: 1em;
	font-size: smaller;
	text-align: right;
}
.pie-chart span:after {
	display: inline-block;
	content: "";
	width: 0.8em;
	height: 0.8em;
	margin-left: 0.4em;
	height: 0.8em;
	border-radius: 0.2em;
	background: currentColor;
}


/* Sidenav */
.projectBox {
    padding: 1rem;
    min-height: 5rem;
    background-color: #d7edfb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative; 
}
.projectBox:hover {
    background-color: #98d6fc;
}

.manager {
    position: absolute; /* Positioning the manager name */
    bottom: 1rem; /* Distance from the bottom */
    right: 1rem; 
	font-size: 13px;
}


/* Extra */
.saveBtn{
	width: 10rem;
	float: right;
}

table{
	font-size: 14px;
}

th{
	color:#0f0a9a;
}

td{
	color:#343365;
}

.modal-backdrop.fade.show{
	display:none;
  }
