<div class="mdiv">
    <div class="insideMdiv">
        <div class="top">
            <h2 class="heading">Admin Panel</h2>
            <div class="d-flex">
            <button class="btn btn-primary btn-sm m-2" routerLink="admin_login">Login</button>
            <button class="btn btn-primary btn-sm m-2" routerLink="admin_base_page">Base Page</button>
            <button class="btn btn-primary btn-sm m-2" routerLink="single_project_view">Single Project</button>
            </div>
        </div>
        <div class="bottom">
          <router-outlet></router-outlet>
        </div>
    </div>
</div>