.mdiv{
    min-height: 80vh;
    width: 100vw;
   
}
.insideMdiv{
    
}

.container{
    max-width: 40rem;
    
}
.modal {
    margin-top: 10rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}  
.text-danger{
    font-size: 12px;
}

label{
    margin-top: 8px;
}
.singlePro{
    min-height: 10rem;
    min-width: 15rem;
    max-width: 20rem;
    border: 1px solid;
    margin: 8px;
    padding: 10px;
}
hr{
    margin: 0px;
}