<div class="mdiv">
    <div class="boxx">
        <div class="insideBoxx">
            <form action="profile light.html" method="get">
                <div class="wrapper">
                    <h3>Log in</h3>
                    <div class="input-box">
                        <input type="text" placeholder="Username" required>
                        <i class="bx bxs-user"></i>
                    </div>

                    <div class="input-box">
                        <input type="password" placeholder="Password" required>
                        <i class="bx bxs-lock"></i>
                    </div>

                    <div class="remember-forgot">
                        <!-- Add a checkbox or remove this section -->
                    </div>

                    <button type="submit" class="btn" id="sbmt">Login</button>

                    <div class="register-link">
                        <a href="#">Forgot password</a>
                        <p>Don't have an account? <a href="register light.html">Sign up</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
